@import 'react-quill/dist/quill.snow.css';

.create-post-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .create-post-container h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-size: 16px;
    font-weight: bold;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  
  .form-group input:focus,
  .form-group textarea:focus {
    outline: none;
    border-color: #418AF4;
  }
  
  button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #418AF4;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
  }
  
  .error {
    color: red;
    font-size: 14px;
    text-align: center;
  }
  